<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
</head>
<body>
    <h1>Cost</h1>
    <p>
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" min="0" ng-model="qty">
    </p>
    <p>
        <label for="cost">Cost</label>
        <input type="number" id="cost" min="0" ng-model="cost">
    </p>
    <div>{{qty * cost | currency}}</div>
</body>
</html>